* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 1%;
  background: linear-gradient(to bottom, #ffcccc 0%, #ffff99 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

figure {
  display: inline-block;
  margin: 1% !important;
  padding: 0px !important;
  border: 1px solid #cccccc;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.card-panel {
  background-color: #FFFAF0;
}

.favGif:hover, .emptyHeart:hover, img:hover {
  cursor: pointer;
}

button {
  margin: 1%;
}

input {
  border: 3px dashed #cccccc;
}

#gifHolder {
	margin-bottom: 10% !important;
}

#favourites {
	margin-bottom: 10% !important;
}

.emptyHeart:hover, .favHeart {
  color: red;
}

.emptyHeart {
  color: #cccccc;
}

@media screen and (min-width: 760px) {

	#gifHolder figure {
		width: 70%;
	}
}

@media screen and (min-width: 980px) {

	#gifHolder figure {
		width: 40%;
	}
}
