body {
  text-align: center;
  margin: 1%;
}

figure {
  display: inline-block;
  margin: 1% !important;
  padding: 0px !important;
  width: 300px;
  border: 1px solid #cccccc;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

img:hover {
  cursor: pointer;
}

button {
  margin: 1%;
}

input {
  border: 3px dashed #cccccc;
}

.favHeart {
  color: red;
}

.emptyHeart {
  color: #cccccc;
}

.emptyHeart:hover {
  color: red;
  cursor: pointer;
}